.navbar-inverse{
  background-color: orange!important;
  border-color: orange!important;
  color: orange!important;
}

.navbar-inverse .navbar-nav > li > a{
  color: white!important;
}

.navbar-inverse .navbar-brand{
  color: white!important;
}
